.hero{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #333;
}

.hero--home{
	background-color: #333;
	@extend .hero;
}

.hero__title--offscreen{
		position: absolute;
		left: -9999999px;
		overflow: hidden;
}

.hero__title{
	color: #fff;
	text-align: left;
	font-size: 3.6rem;
  // padding-top: 8rem;
  margin-bottom: 2.5rem;
	font-weight: 600;
}

.hero--home .hero__title{
	color: #fff;
}

.hero__lede{
	padding-top: 16rem;
	text-align: left;
	color: #fff;
	font-weight: 300;
	// padding-bottom: 5rem;
	font-size: 2.7rem;
	padding: 0 0 3rem 0;
}

@media(min-width:600px){
	.hero{
		padding: 4rem 100px;
	}
}
