.team{
	overflow: auto;
	margin-bottom: 3rem;
}

.team-member{
	@extend .col-xs-12;
	@extend .col-sm-6;
}

.team-member--board{
	@extend .col-xs-12;
	@extend .col-sm-4;
}

.team-member__wrapper{
		background-color: #fff;
		overflow: hidden;
		margin: 3rem 0 0;
		border: 1px solid #e8e8e8;
}

.team-member__image{
	width: 100%;
	// height: 210px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.team-member__image>img{
	width: 100%;
}

.team-member__vertical-image{
	padding:0;
}

.team-member__vertical-image>img{
	width: 100%;
}

.team-member__name{
	text-align: center;
	color: #fff;
	padding-top: 12rem;
	margin: 0;
}

.team-member__title{
	text-align: center;
	color: #fff;
	padding-bottom: 6rem;
}

.team-member__description{
	padding: 2rem;
}

@media(min-width:$container-width){
	.team-member__vertical-image{
		padding: 20px 20px 20px 0;
	}
}
