html{
	line-height: 1.5em;
	font-family: 'Open-Sans', avenir, sans-serif;
	font-size: 8px;
}

@media(min-width:$container-width){
	html{
		font-size: 10px
	}
}

body.admin-bar{
 position: relative;
}

@media(min-width:$container-width){
	main{
		padding-left: 300px;
		display: block;
	}
}

.container{
	max-width: $container-width;
}

.home{
	background-color: #fff;
}

.cta--center{
	text-align: center;
	width: 100%;
	display: block;
	float: left;
}

@media (max-width: $container-width){
	.full-mobile{
		padding: 0;
		width: 100%;
	}
}
