// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;
$container-width: 960px;

// Colors
$brand-green:				#27ae60;
$brand-blue:				#0069C4;
$font-color:				#333333;
