.footer{
	background-color: #404040;
	color: #fff;
	padding: 4rem;
	margin-top: 4rem;
}

.footer-nav{
	text-align: center;
	@extend .col-xs-12;
	@extend .col-md-5;
}

.footer-nav ul{
	list-style: none;
	padding:0;
	margin-bottom: 4rem;
}

.footer-nav ul > li{
	margin: 1rem 0;
}

.footer-nav ul > li > a{
	color: #fff;
	padding: .3rem 1rem;
	border-radius: 30px;
}

.footer-nav ul > li.current_page_item > a{
	background: #fff;
	color: #000;
	padding: .3rem 1rem;
	border-radius: 30px;
}

.footer-address{
	@extend .col-xs-12;
	@extend .col-md-7;
}

.footer-address__line{
	display: block;
	width: 100%;
	text-align: center;
}

@media(min-width: $screen-md-min){
	.footer-nav ul{
		margin-bottom: 0;
	}
	.footer-nav ul > li{
		margin: 0;
	}
	.footer-nav ul > li > a{
		float: left;
		margin: 0;
	}
	.footer-address{
		float: right;
		padding: .3rem 0;
	}
	.footer-address__line{
		display: inline-block;
		width: auto;
		text-align: left;
		float: left;
		font-size: 1.3rem;
		padding-left: 10px;
	}
}
